@import '~bootstrap/scss/bootstrap';

.content {
  margin:  10px;
  padding: 10px;
}

.tic-box {
  border: solid #000000 1px;
  color: transparent;
  font-size: 5vw;
  text-align: center;
}

// hover
