@import '~bootstrap/scss/bootstrap';
// grey background
body {
  background-color: #d3d3d3;
}

// made the boxes look nicer
.content {
  margin:  10px;
  padding: 10px;
}

// make the box formated into tic tac toe
.tic-box {
  background-color:	#00FFFF;
  border: solid #000000 1px;
  font-size: 5vw;
  text-align: center;
  width: 85px;
  height: 85px;
}

// the way to hide the sign-in, sign-out, change password, and sign-up
// .unclickable{
//
// }

// didnt get to hover, but will when rest works
