@import '~bootstrap/scss/bootstrap';

body {
  background-color: #d3d3d3;
}

.content {
  margin:  10px;
  padding: 10px;
}

.tic-box {
  background-color:	#00FFFF;
  border: solid #000000 1px;
  font-size: 5vw;
  text-align: center;
}

// .unclickable{
//
// }

// hover
